{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - WaniKani Stats Visualizer
    {% else %}
    WaniKani Stats Visualizer
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <br><br>
        {% if logo %}
        <a href="{{ url_for('index') }}">
            <img style="margin-left: auto; margin-right: auto; display: block; width: 30%; height: 30%" src="{{ url_for('static', filename=logo) }}" />
        </a>
        {% endif %}

        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}