{% extends "base.html" %}

{% block app_content %}
    {% if form %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div>
            <form action="" method="post" style="text-align: center">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.api_key.label() }}<br>
                    {{ form.api_key(size=32, style="text-align: center") }}<br>
                    {% for error in form.api_key.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit(class="btn btn-primary") }}
                </p>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
